<footer>

  <script type="text/javascript" src="{{ "assets/js/smoothscroll.js" | relative_url }}"></script> <!-- polyfill from http://iamdustan.com/smoothscroll/ -->
  <script type="text/javascript" src="{{ "assets/js/scripts.js" | relative_url }}"></script>

    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Book",
        "logo": "http://simonellice.co.uk/img/logo.png",
        "name": "Go Fast Simon Ellice",
        "url": "http://simonellice.co.uk/",

        "sameAs": [
            "https://www.facebook.com/simonelliceuk/",
            "https://twitter.com/simon_ellice",
            "https://www.pinterest.co.uk/simon_ellice/",
            "https://www.instagram.com/simonellice13/"
        ],

        "copyrightHolder": {
          "@type": "Organization",
          "name": "Rat's Tales Publishing"
        },

        "copyrightYear": "2016",
        "description": "Rat's Tale Publishing",
        "genre": "noir crime thriller",
        "inLanguage": "en-UK",
        "isbn": "9780993576140",
        "numberOfPages": "388",
        "publisher": {
        "@type": "Organization",
        "name": "Rat's Tales Publishing"
      }
    }
  </script>

</footer>