<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<meta charset="UTF-8">

	<title>Simon Ellice | Noir Crime Thriller Series</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="{{ "assets/img/favicon.ico" | relative_url }}">
	<meta name="description" content="The story of Simon Ellice’s life, loves and misadventures, mainly in his own words. Read all the stories of this noir crime thriller series online here for free">
	<meta name="keywords" content="noir crime thriller, crime fiction, noir, crime, thriller, military fiction">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@simon_ellice">
	<meta name="twitter:url" property="og:url" content="http://simonellice.co.uk/">
	<meta name="twitter:title" property="og:title" content="Simon Ellice | Noir Crime Thriller Series">
	<meta property="og:site_name" content="Simon Ellice | Noir Crime Thriller Series">
	<meta name="twitter:description" property="og:description" content="The story of Simon Ellice’s life, loves and misadventures, mainly in his own words. Read all the stories of this noir crime thriller series online here for free">
	<meta name="twitter:image:src" property="og:image" content="{{ "assets/img/Simon_ellice.png" | relative_url }}">

	<link href="{{ "assets/css/style.css" | relative_url }}" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HGMRL9PNKF"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-HGMRL9PNKF');
	</script>

</head>
