<nav id="nav">
	<div class="nav__logo">
		<a href="#home">
			<img src="{{ "assets/img/logo.png" | relative_url }}" class="logo__main" alt="logo">
			<img src="{{ "assets/img/logo--small.png" | relative_url }}" class="logo__small" alt="logo">
		</a>
	</div>

	<div class="nav nav--framed">
		<a href="/afghanistan" title="Dead ground" id="afghanistan">
			<img src="{{ "assets/img/afghanistan.png" | relative_url }}">
		</a>
		<a href="/morocco" title="Go Fast" id="morocco">
			<img src="{{ "assets/img/morocco.png" | relative_url }}">
		</a>
		<a href="/jamaica" title="Star Ligh" id="jamaica">
			<img src="{{ "assets/img/jamaica.png" | relative_url }}">
		</a>
		<a href="/gunroom" title="Gun Room">
			<img src="{{ "assets/img/gunroom.png" | relative_url }}">
		</a>
		<a href="https://ratstales.co.uk/" target="_blank"><img src="{{ "assets/img/publisher.png" | relative_url }}"></a>
	</div>

	<ol class="nav nav--main">
		<li>
			<a href="/afghanistan">Dead Ground</a>
		</li>
		<li>
			<a href="/morocco">Go Fast</a>
			<ol class="nav nav--secondary">
				<li><a href="/morocco#nottambulo">Nottambulo</a></li>
				<li><a href="/morocco#sam">Sam</a></li>
				<li><a href="/morocco#fishing">Fishing</a></li>
				<li><a href="/morocco#feeding-birds">Feeding the birds</a></li>
				<li><a href="/morocco#long-shot">A long shot</a></li>
				<li><a href="/morocco#looking-for-me">Are You Looking at Me?</a></li>
				<li><a href="/morocco#under-moon">Under a Thin Moon</a></li>
				<li><a href="/morocco#dirty-work">Dirty work</a></li>
				<li><a href="/morocco#life-is-what-happens">Life is What Happens</a></li>
				<li><a href="/morocco#mind-that-goat">Mind That Goat</a></li>
				<li><a href="/morocco#afternoon-tea">Afternoon Tea</a></li>
				<li><a href="/morocco#ties-that-bind">The Ties That Bind</a></li>
				<li><a href="/morocco#long-spoon">With a Long Spoon</a></li>
				<li><a href="/morocco#nothing-important">Nothing Important</a></li>
				<li><a href="/morocco#rug-cushions">A Rug and Some Cushions</a></li>
				<li><a href="/morocco#dog-his-day">Every Dog His Day</a></li>
				<li><a href="/morocco#father-and-son">Father and Son</a></li>
				<li><a href="/morocco#good-cause">All in a Good Cause</a></li>
				<li><a href="/morocco#party">The Party</a></li>
				<li><a href="/morocco#what-must-be-done">What Must Be Done</a></li>
				<li><a href="/morocco#out-and-down">Out and Down</a></li>
			</ol>
			<br>
		</li>
		<li>
			<a href="/jamaica">Starlight</a>
		</li>
		<li>
			<a href="/gunroom">Gun Room</a>
		</li>
	</ol>
	<div class="currentChapter">
		<h4 class="title"><a href="/morocco">Go Fast</a></h4>
		<div>
			<p>Chapter <span class="chapterNumber"></span></p>
			<p class="chapterTitle"></p>
		</div>
	</div>
	<div class="navToggle">
		<span></span>
	</div>

</nav>