---
layout: default
---

<div id="{{ page.name }}">
	<div class="topBgWrapper" style="background-image: url(/assets/img/Background_top.png);">
	<p class="summary">{{ page.summary }}</p>
		<div class="cover">
			<img src="/assets/img/{{ page.src }}/cover.png" alt="{{ page.title }}">
		</div>
	</div>

	<div class="secondBgWrapper" style="background-image: url(/assets/img/Background_bottom.png);">
		<section class="mainText">
			<div class="simArticle show">
				{{ content }}
			</div>
	  	</section>
	</div>
	<div class="closingBgWrapper" style="background-image: url(/assets/img/Background_very_end.png);"></div>
</div>