---
layout: default
---

<article class="simArticle">
	<div id="gunroom">
		<div class="topBgWrapper" style="background-image: url(/assets/img/Background_top.png);">
			<section class="mainText">
				<h2>{{ page.title }}</h2>
				{% if page.subtitle %}
					<h3>{{ page.subtitle }}</h3>
				{% endif %}
				{% if page.photo %} 
					<img src="{{ page.photo }}" class="full-img">
				{% endif %}
			</section>
		</div>

		<div class="secondBgWrapper" style="background-image: url(/assets/img/Background_bottom.png);">
			<section class="mainText">
				<div class="simArticle show">
					{{ content }}
				</div>
			</section>
		</div>
		<div class="closingBgWrapper" style="background-image: url(/assets/img/Background_very_end.png);"></div>
	</div>
</article>